<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="../../assets/images/logoSekolah.png" />
    <title>SKPH Quiz</title>
    <link
      rel="stylesheet"
      href="../../assets/icons/bootstrap-icons/font/bootstrap-icons.min.css"
    />
    <link rel="stylesheet" href="../../css/mapel.css" />
    <link rel="stylesheet" href="../../fontawesome-6.6.0/css/all.min.css" />
  </head>
  <body>
    <!-- sudah beda file css -->
    <div class="content-area">
      <div class="content-container">
        <div class="mapel-container">
          <!-- MATEMATIKA -->
          <section class="lesson-container">
            <!-- <div class="shadow"><span>oke</span></div> -->
            <div class="bg-wrap">
              <img src="../../assets/images/bg-math.jpg" alt="" />
            </div>
            <span class="title-lesson">MATH</span>
          </section>

          <!-- INGGIRS -->
          <section class="lesson-container">
            <div class="bg-wrap">
              <img src="../../assets/images/bg-english.jpg" alt="" />
            </div>
            <span class="title-lesson">ENGLISH</span>
          </section>
        </div>
      </div>

      <!-- Background (Gambar) -->
      <img
        id="bg-mapel"
        src="../../assets/images/bg-mapel.jpg"
        alt="cloud-background"
      />
    </div>
    <script src="../../js/script.js"></script>
  </body>
</html>
