<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="../../assets/images/logoSekolah.png" />
    <title>SKPH Quiz</title>
    <link
      rel="stylesheet"
      href="../../assets/icons/bootstrap-icons/font/bootstrap-icons.min.css"
    />
    <link rel="stylesheet" href="../../css/style.css" />
    <link rel="stylesheet" href="../../fontawesome-6.6.0/css/all.min.css" />
  </head>
  <body>
    <div class="section-wrap">
      <!-- navbar -->
      <section class="navbar-custom">
        <div class="logo-sekolah-wrap">
          <a href="#" class="logo-sekolah">
            <img
              class="img-logo-nav"
              src="../../assets/images/logoSekolah.png"
              alt="logo-sekolah"
            />
            <span>SKPH Quiz</span>
          </a>
        </div>
        <i id="pause-menu" class="fa-solid fa-bars menu-navbar"></i>
      </section>

      <!-- soal -->
      <section
        id="main-content-custom"
        class="main-content-custom content-size-custom"
      >
        <div class="soal-container">
          <div class="nomor-isi-soal">
            <!-- soal polos -->
            <span id="nomor-soal" class="nomor-soal">Soal Nomor 1</span>
            <div class="soal-polos">
              <span id="isi-soal" class="isi-soal">1 + 1 =</span>
            </div>

            <!-- soal gambar -->
            <div class="soal-gambar"></div>

            <!-- soal video -->
            <div class="soal-video"></div>

            <!-- soal gambar & video -->
            <div class="soal-gambar-video"></div>
          </div>

          <!-- ... -->
          <div class="jawaban-wrap">
            <input type="text" placeholder="Jawab disini" spellcheck="false" />
          </div>
          <div class="btn-wrap">
            <button class="btn-soal btn-soal-jawab">Jawab</button>
            <button class="btn-soal btn-soal-hapus">Hapus</button>
          </div>
        </div>
      </section>
    </div>

    <!-- Pop Up Pause Menu -->
    <div class="pop-up-container" id="pop-up-container">
      <div class="black-area-pause" id="black-area-pause"></div>
      <div class="main-menu-custom" id="pop-up-menu">
        <video muted loop id="bg-pause">
          <source
            id="pause-video"
            src="../../assets/video/bg-pause-menu-murid.mp4"
            type="video/mp4"
          />
        </video>
        <div class="menu-container">
          <div class="close-main-menu" id="x-pause-menu">
            <i class="bi bi-x-lg"></i>
          </div>
          <span class="menu-header">Pause</span>
          <ul>
            <a href="#" id="lanjut-menu">
              <li>Lanjut</li>
            </a>
            <a href="#" id="pengaturan-menu">
              <li>Pengaturan</li>
            </a>
            <a href="#" id="keluar-menu">
              <li>Keluar</li>
            </a>
          </ul>
        </div>
      </div>
    </div>

    <!-- Background (gambar) -->
    <img
      id="bg-halloween"
      src="../../assets/images/bg-math-exercise-long.png"
      alt=""
    />

    <!-- Backsound -->
    <audio src="../../assets/audio/doodle.mp3" autoplay muted></audio>

    <script>
      window.addEventListener("load", () => {
        const audio = document.querySelector("audio");
        audio.muted = false;
      });
    </script>
    <script src="../../js/script.js"></script>
  </body>
</html>
