/* Dashboard Page */
.dashboard-content-custom {
    display: flex;
    flex-direction: column;
}

.card-wrapper-custom {
    display: flex;
    justify-content: space-between;
    padding: 0 0.75rem;
    margin-bottom: 24px;
    /* background-color: rebeccapurple; */
}

.card {
    min-width: 300px;
}

@media only screen and (max-width: 1100px) {
    .card-wrapper-custom {
        gap: 12px;
        flex-direction: column;
    }

    .card {
        width: 100% !important;
    }
}

/* ........ */

/* Create CSS */
.quiz-wrapper {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.quiz-input-container {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    width: 100%;
    max-width: 1020px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    font-size: 24px;
    margin: 0;
}

header p {
    font-size: 14px;
    color: #666;
    margin-top: 5px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

textarea,
input[type="text"],
input[type="file"],
select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

textarea {
    resize: none;
}

.option {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.submit-btn {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.submit-btn:hover {
    background-color: #0056b3;
}
