@import url("https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "DynaPuff", system-ui;
}

li {
    list-style: none;
}

.content-container {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
}

.content-container .card-result {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 34px;
    padding: 20px;
    width: 45%;
    height: 80%;
    background-color: brown;
}
